{% extends "base.html" %}
{% block title %} Пойск Медведей - Команда {% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/4th_section.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block section %}
<div class="section-4 vh-100">
    <div class="container h-100 d-flex flex-column justify-content-center">
        <div class="row">
            <div class="col-12">
                <h3>Наша команда</h3>
            </div>     
        </div>

        <div class="row">
            <div class="col-3">
                <div class="card odd">
                    <div class="profile-picture">
                        <div class="elipse">
                            <img style="border-radius: 50%;" src="{{ url_for('static', filename='images/avatar3.jpg') }}" alt="" class="img-fluid">
                        </div>
                    </div>

                    <div class="info">
                        <h4 class="name">Кот Игорь</h4>
                        <h4 class="name">Андреевич</h4>
                        <h5 class="position">Дизайнер</h5>
                        <!-- <p class="introduce">A kiddo who uses Flask in web development. Currently playing around with design via Figma</p> -->
                    </div>

                    <h6><span class="mail odd">abc1234@gmail.com</span></h6>
                </div>
            </div>
            <div class="col-3">
                <div class="card even">
                    <div class="profile-picture">
                        <div class="elipse">
                            <img style="border-radius: 50%;" src="{{ url_for('static', filename='images/avatar2.jpg') }}" alt="" class="img-fluid">
                        </div>
                    </div>

                    <div class="info">
                        <h4 class="name">Писаревский Андрей Анатольевич</h5>
                        <h5 class="position">ML разработчик</h5>
                        <!-- <p class="introduce">A kiddo who uses Flask in web development. Currently playing around with design via Figma</p> -->
                    </div>

                    <h6><span class="mail even">pisarevskiy1977@gmail.com</span></h6>
                </div>
            </div>
            <div class="col-3">
                <div class="card odd">
                    <div class="profile-picture">
                        <div class="elipse">
                            <img style="border-radius: 50%;" src="{{ url_for('static', filename='images/avatar1.jpg') }}" alt="" class="img-fluid">
                        </div>
                    </div>

                    <div class="info">
                        <h4 class="name">Бикзянтиев Рушан Ринатович</h5>
                        <h5 class="position">Руководитель</h5>
                        <!-- <p class="introduce">A kiddo who uses Flask in web development. Currently playing around with design via Figma</p> -->
                    </div>

                    <h6><span class="mail odd">bikzyantiev@gmail.com</span></h6>

                </div>
            </div>

            <div class="col-3">
                <div class="card even">
                    <div class="profile-picture">
                        <div class="elipse">
                            <img style="border-radius: 50%;" src="{{ url_for('static', filename='images/avatar4.jpg') }}" alt="" class="img-fluid">
                        </div>
                    </div>

                    <div class="info">
                        <h4 class="name">Истошин Дмитрий Михайлович</h5>
                        <h5 class="position">Web-Программист</h5>
                        <!-- <p class="introduce">A kiddo who uses Flask in web development. Currently playing around with design via Figma</p> -->
                    </div>

                    <h6><span class="mail even">ma2472222@ya.ru</span></h6>
                </div>
            </div>

            
        </div>
    </div>  
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/4th.js') }}"></script>
{% endblock %}