<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    
    {% block style %} {% endblock %}
    <title>{% block title %}Пойск Медведей {% endblock %}</title>
</head>

<body>
    <nav class="navbar navbar-nav fixed-top navbar-expand-lg py-0" id="navbar">
        <div class="container-fluid px-5">
            <a class="navbar-brand" href="{{ url_for('index') }}">
                <img class="logo" style="width: 80px;" src="{{ url_for('static', filename='images/osos.svg') }}" alt="">
                МИРЭА
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto d-flex align-items-center">
                    <a class="nav-link" href="{{ url_for('index') }}">Главная страница</a>
                    <a class="nav-link" href="{{ url_for('image') }}">Найти мишку</a>
                    <a class="nav-link nav-btn" href="{{ url_for('teams') }}">О команде</a>
                </div>
                
            </div>
        </div>
    </nav>
    <!-- <p>Paragraph - <span>Scroll happened!</span></p>
    <p>Paragraph - <span>Scroll happened!</span></p> -->
    {% block section %}
    {% endblock %}
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- <script src="js/jquery-3.6.0.min.js" charset="utf-8"></script> -->
    <!-- <script>
        $( window ).on('wheel', function() {
            var $nav = $(".navbar");
            if
            $nav.toggleClass('nav-colored', $(section2).scrollTop() > 10);
        });
    </script> -->
    {% block script %}{% endblock %}
</body>

</html>