.section-3 {
    background-image: url(../images/Background4.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    transition: all 500ms;
    padding-top: 75px;
    /* box-sizing: content-box; */
    overflow: auto;
}

.section-3 h3 {
    font-weight: 500;
    font-size: 45px;
    color: var(--font);
}

.section-3 .video {
    margin-top: 20px;
}

/* .section-3 .video button {
    border-radius: 50px;
    width: 30%;
    background-color: var(--main-btn);
} */

.section-3 .buttons a {
    font-style: normal;
    font-size: 24px;
    text-decoration: none;
    color: #FFFFFF;
    
}

.section-3 a.main-btn {
    color: #00b0b0;
    background: var(--main-btn);
    /* box-shadow: var(--box-shadow); */
    border: 0px;
    border-radius: 100px;
    padding: 15px 60px;
    display: inline-block;
    margin-top: 20px;
    background-blend-mode: overlay;
    position: relative;
}

.section-3 .buttons button {
    font-style: normal;
    font-size: 24px;
    text-decoration: none;
    color: #FFFFFF;
    
}

.section-3 button.main-btn {
    color: #00b0b0;
    background: var(--main-btn);
    /* box-shadow: var(--box-shadow); */
    border: 0px;
    border-radius: 100px;
    padding: 15px 60px;
    display: inline-block;
    margin-top: 20px;
    background-blend-mode: overlay;
    position: relative;
}

.section-3 .camera {
    background-color: var(--bg-section);
    width: 100%;
    height: auto;
    border-radius: 50px;
    padding: 20px 20px;

}

.section-3 .predict-video h3 {
    font-weight: 400;
    font-size: 30px;
    color: var(--font);
}

.section-3 .predict-video .video {
    justify-content: space-between;
    padding: 1.5rem;
    background-color: var(--bg-section);
    border-radius: 50px;
}

.section-3 .predict-video .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.section-3 .predict-video .image {
    height: 3rem;
    width: 3rem;
}


/* Slide */
.slides {
    padding: 0;
    width: 1060px;
    height: 700px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 1060px;
    height: 700px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
}

.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;

	  opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.results {
    background: #00000057;
    padding: 40px 0px;
    border-radius: 50px;
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
	background: rgba(0, 0, 0, 0.8);
}

/* End Slide */

/* Upload */
.quote-imgs-thumbs {
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    margin: 1.5rem 0;
    padding: 0.75rem;
  }
  .quote-imgs-thumbs--hidden {
    display: none;
  }
  .img-preview-thumb {
    background: #fff;
    border: 1px solid #777;
    border-radius: 0.25rem;
    box-shadow: 0.125rem 0.125rem 0.0625rem rgba(0, 0, 0, 0.12);
    margin-right: 1rem;
    max-width: 140px;
    padding: 0.25rem;
  }
  .bg-upload {
    background: #cfe3e0d6;
    border-radius: 50px;
    padding: 50px 10px;
  }

/* End Upload */