-f https://download.pytorch.org/whl/torch_stable.html
Flask-Mail
imutils
torch==1.12.1+cpu
torchvision==0.13.1+cpu
opencv-contrib-python
flask
gunicorn
matplotlib
numpy
Pillow
PyYAML
requests
scipy
tqdm>=4.64.0
pandas>=1.1.4
seaborn>=0.11.0
thop>=0.1.1